/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

	
.column {
  margin :0;
  float: left;
  margin: 20px 5px;
}

.left {
  width: 60%;

}

.middle {
  width: 100px;
  text-align: left;
}

.right {
  min-width : 20%;
  width: auto;

}


.button, button{
	padding : 0 15px;
	width: min-content;
	margin : 10px 10px;

}
